<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'sidebar', user: @user, upload_book: @upload_book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%= image_tag user.get_profile_image(100, 100) %>
            </td>
            <td>
              <p><%= user.name %></p>
            </td>
            <td>
              <%= link_to(user_path(user.id)) do %>
                Show
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>